<!Doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Fiche Contact</title>
    </head>
    <body>
        <div>
            {{ form_start(our_form) }}
            {{ form_widget(our_form) }}
            <input type="submit" value="Send"/>
            {{ form_end(our_form) }}
        </div>
    </body>
</html>